<section>
  <div class="container">
    <router-link :to="{name:'all'}">全部</router-link> |
    <router-link :to="{name:'active'}">未完成</router-link> |
    <router-link :to="{name:'complete'}">已完成</router-link> |
    <div class="todo-input">
      <input
        type="text"
        placeholder="請輸入"
        v-model.trim="todo"
        @keyup.enter="submitHanlder"
        v-focus
      />
    </div>
    <div class="todo-List">
      <!-- <div class="todo-list-item" v-for="index in todoIndex" :key="index" :index="index">
        <input type="checkbox" v-model="">
        <label for="">{{ todo.content }}</label>
        <button class="destroy" @click="destroyHandler"></button>
      </div> -->
      <div class="todo-list-item" v-for="index in todoIndex">
        <input type="checkbox" /> <label>{{ todo.content }}</label>
        <button class="destroy">{{ index }}</button>
      </div>
    </div>
  </div>
</section>
